page-login{
	
}
a{
	text-decoration: none;
	color: map-get($colors, light)
}
.btnFB{
	background-color:  #3b5998;
}

ion-icon, #lg{
	padding: 0 10px;
}
ion-footer{
	text-align: center;
<<<<<<< HEAD
	background-color: white;
=======
	position:fixed;
>>>>>>> 92a6bf40e24bbcbfd1f3faee64ba0bf87d1bff7b
}
#lg{
	vertical-align: sub;
}
.btnCad{
	background-color: map-get($colors, secondary);
}