page-login{
	
}
a{
	text-decoration: none;
	color: map-get($colors, light)
}
.btnFB{
	background-color:  #3b5998;
}

ion-icon, #lg{
	padding: 0 10px;
}
ion-footer{
	text-align: center;
}
#lg{
	vertical-align: sub;
}
.btnCad{
	background-color: map-get($colors, secondary);
}