page-perfil {

}

ion-icon[name="create"] {
}

#user_pic {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
}

#user_pic img {

	width: 150px;
}

.row {
	clear: both;
}
.col{
	text-align: start;
}

.editButton{
	margin-top: -120px;
}