<!--
  Generated template for the MaterialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding *ngIf="show">

	<h6>Selecione a instituição para onde deseja enviar seu donativo</h6>
<form (ngSubmit)="doar()" #registerForm="ngForm">
	<ion-list>
		<ion-item>
			<ion-label>Instituições</ion-label>
			<ion-select interface="popover" name="instituicao" [(ngModel)]="doacao.instituicao">
				<div *ngFor="let instituicao of instituicoes">
					<ion-option value="{{instituicao.id}}" selected="true">{{instituicao.nome}}</ion-option>
				</div>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>Estado de conservação</ion-label>
			<ion-select interface="popover" name="condicao" [(ngModel)]="doacao.estado" required>
				<ion-option value="B" selected="true">Em condições de uso</ion-option>
				<ion-option value="P">Perfeito Estado</ion-option>
				<ion-option value="R">Precisa de reparos</ion-option>
			</ion-select>
		</ion-item>

	<h6>Descreva sua doação</h6>
	<ion-input placeholder="Digite Aqui" name="descricao" [(ngModel)]="doacao.descricao" required></ion-input>

	<h6>Tire uma fotografia do objeto</h6>

	<h6>Endereço de coleta</h6>

	<ion-list radio-group name="lastAddress" [(ngModel)]="doacao.lastAddress">
		<ion-item>
			<ion-label>Último endereço</ion-label>
			<ion-radio (click)="doacao.endereco=null" value="true"></ion-radio>
		</ion-item>

		<ion-item>
			<ion-label>Novo endereço</ion-label>
			<ion-radio (click)="showMap()" value="false" [checked]="doacao.endereco"></ion-radio>
		</ion-item>
	</ion-list>
	<ion-item>
		<ion-textarea name="endereco" [(ngModel)]="doacao.endereco" rows="5"></ion-textarea>
	</ion-item>

	<h6>Melhor data e horário de coleta</h6>

	<ion-item>
	  <ion-label>Dia</ion-label>
	  <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY"></ion-datetime>
	</ion-item>

	<ion-item>
	  <ion-label>Hora inicial</ion-label>
	  <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
	</ion-item>

	<ion-item>
	  <ion-label>Hora final</ion-label>
	  <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
	</ion-item>

	<button ion-button type="submit" block class="btn">Concluir</button>

	</ion-list>

</form> 	

<br>
<br>
<br>
</ion-content>
